*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}
.container{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    font-size: 3rem;
}
#board{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width:407px ;
    height:432px;
    border: 2px solid black;
    transform: scale(1);
}
.cell{
    background-color: white;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
}
.cellblack{
    background-color: black;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
}
.displayChar{
    position: absolute;
    color: grey;
    transform:translateX(-170%);
}
.displayNum{
    position: absolute;
    color: grey;
    left: 0;
}
.darkcell{
    opacity: 1;
}
.whitepawn{
    cursor: pointer;
    color:rgb(216, 216, 216);
    font-size:46px;
}
.blackpawn{
    cursor: pointer;
    color:rgb(41, 41, 41);
    font-size:46px;
}